/*!
 * news-interactive-qbh
 *
 * @version 1.0.0
 * @author Simon Elvery <elvery.simon@abc.net.au>
 */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
	}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
	}



#qbh-map-wrap {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

#qbh-map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#qbh-interactive {
	>p {
		clear: both;
	}
}

.honour-icon {
	border-radius: 100%;
	border-width: 0;
	text-align: center;
	background-color: rgba(23, 118, 182, 0.6);
	color: #fff;

	div {
		border-radius: 100%;
		width: 34px;
		height: 34px;
		margin: 3px;
		background-color: rgba(23, 118, 182, 0.6);
		span {
			line-height: 34px;
		}
	}
}
.leaflet-oldie .honour-icon div {
	background-color: rgb(23, 118, 182);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 24px;
	height: 24px;
	margin-left: 3px;
	margin-top: 3px;

	text-align: center;
	border-radius: 15px;
	font-size: 11px;
}

.marker-cluster span {
	line-height: 24px;
}

#qbh-interactive table {
	font-size: 1em;
}
#qbh-interactive table th {
	background: none;
	padding: 0;
	text-align: left;
}
#qbh-interactive table td {
	background: none;
	padding: 0 1em;
}

#qbh-location-unavailable,
#qbh-location-overseas {
	margin-top: 1em;
	margin-right: 1em;
	float: left;

	ul {
		li {
			margin-bottom: 0;
		}
	}
}
